<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Django Tutorial | Kelas Terbuka</title>
</head>
<body>
    <h1>Selamat datang..!!</h1>
    <p>Halaman web ini dibuat dengan menggunakan Framework Django</p>
    <p>Ini halaman yang sudah saya buat</p>
    <ol>
        <li>Halaman <a href="/about/">About</a></li>
        <li>Halaman <a href="/blog/">Blog</a></li>
    </ol>
    <p>Yang mau belajar tutorial pemrograman python kunjungi link dibawah ini</p>
    <ul>
        <li>Channel  : <a href="https://www.youtube.com/c/KelasTerbuka">Kelas Terbuka</a></li>
        <li>Playlist : <a href="https://youtube.com/playlist?list=PLZS-MHyEIRo6p_RwsWntxMO5QAqIHHHld">Django Tutorial</a></li>
    </ul>
</body>
</html>
