<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Blog | Kelas Terbuka</title>
</head>
<body>
    <h1>Baca Blog Kami..!</h1>
    <p>Halaman Blog dipindahkan ke folder Blog</p>
    <p>Ini halaman yang sudah saya buat</p>
    <ol>
        <li>Halaman <a href="/">Home</a></li>
        <li>Halaman <a href="/blog/">Blog</a></li>
    </ol>
</body>
</html>
