<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page | Kelas Terbuka</title>
</head>
<body>
    <h1>Ini adalah halaman About</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem nemo obcaecati, odit vitae quam quia tenetur ex soluta at expedita unde aperiam a, amet ad, aliquid voluptatem dolorum magni eligendi.</p>
</body>
</html>
