<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{judul}} | Kelas Terbuka</title>
</head>
<body>
    <h1>Baca {{judul}} Kami..!</h1>
    <p><b>Kontributor : {{kontributor}}</b></p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur eaque facere voluptatum quia optio facilis temporibus nam numquam! Reprehenderit ullam dicta velit, ea sed eaque fuga corrupti qui eos totam.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur eaque facere voluptatum quia optio facilis temporibus nam numquam! Reprehenderit ullam dicta velit, ea sed eaque fuga corrupti qui eos totam.</p>
    <p>Ini halaman yang sudah saya buat</p>
    <ol> <!-- Membuat hyperlink menggunakan loop django-->
        {# template Tags #}
        {% for link, name in nav%}
            <li>
                <a href="{{link}}">{{name}}</a>
            </li>
        {% endfor %}
    </ol>
</body>
</html>
